.App {
  text-align: center;
}
body{
  background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
}
.card{
  padding: 20px;
  box-sizing: border-box;
  box-sizing: 0 0 10px 0 #eee;
  border: 1px solid white;
  background: pink;
}